<%- include('../partials/header.ejs', { title: 'Administration' }) %>

<h3>Création d'un nouvel utilisateur</h3>
<%- include('./users_form.ejs', { list: roles }) %>

<%- include('../partials/footer.ejs') %>
