<%- include('./partials/header.ejs', { title: 'Erreur' }) %>

<div class="container-error">
    <h3><%= typeof message !== 'undefined' ? message : "Erreur" %></h3>

    <a href="/">Retour à l'accueil</a>
</div>

<%- include('./partials/footer.ejs') %>
