<%- include('../partials/header.ejs', { title: "Création d'un Snippet" }) %>

    <h3>Ajouter votre snippet</h3>

    <form method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="title" id="login" placeholder="Saisir le titre du snippet" required>
        </div>
        <div class="form-group">
            <select name="lang" required>
                <option>Langage attribué</option>
                <% languages.forEach(language => { %>
                    <option value="<%= language.id %>"><%= language.name %></option>
                <% }) %>
            </select>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="code" placeholder="Saisir le code du snippet" required></textarea>
        </div>
        <div class="form-group">
            <textarea class="form-control" name="description" id="description" placeholder="Saisir la description du snippet"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>

<%- include('../partials/footer.ejs') %>